system/system/product/priv-app/Velvet/Velvet.apk
system/system/priv-app/MiuiCamera/MiuiCamera.apk
system/system/system_ext/priv-app/Settings/Settings.apk
modem.img
bootimg/16_dtbdump_en.EI".dtb
boot.img
vendor/camera/mimoji/model2.zip
